<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{city}}</title>
</head>
<body>
  <form action="/result" method="POST">
    {% csrf_token %}
    <input type="hidden" name="city" value="{{city}}" />

    <label for="area">Area (in sq. ft.) : </label>
    <input name="area" type="number" step="0.01" />
    <br /><br />

    <label for="bedrooms">Bedrooms : </label>
    <input name="bedrooms" type="number"/>
    <br /><br />

    <label for="locations">Location : </label>
    <select name="locations">
      {% for location in locations %}
      <option value={{location}}>{{location}}</option>
      {% endfor %}
    </select>
    <br /><br />

    <table cellpadding = 6 cellspacing = 6 >
      {% for i in amenities %}
      {% if forloop.counter|add:"-1"|divisibleby:"6" %}
      <tr>
        {% endif %}

        <td>
          <input name={{i.lower}} type="radio"/>
          <label for={{i.lower}}>{{i}}</label>
        </td>

        {% if forloop.counter|divisibleby:"6" %}
      </tr>
      {% endif %}
      {% endfor %}
    </table>

    <input type="submit" value="Submit" />
  </form>
</body>
</html>
